.home-page {
  position: relative;
  height: 100%;
  h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
    padding-top: 30px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include mobile-only {
    h1 {
      font-size: 2rem;
      padding: 2em 0;
    }
  }
}
